.App-header {
  text-align: center;
  background-color: gray;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 5px solid turquoise;
  border-top: 5px solid turquoise;
 
}
.App-header p {
  font-size: 14px;
}

.table {
  margin-top: 50px; 
}
 tr:nth-child(odd) {
  background-color: lightskyblue;
  }

 tr:nth-child(even) {
  background-color: turquoise;
  }

  th {
     background-color: gray;
     color: white;
  }

tbody td {
  text-align: center;
}


.form-group {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  margin-top: 0;
}
#searchLabel {
  visibility: hidden;
}

.button {
  background-color: gray;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: turquoise;
  cursor: zoom-in;
}



