.App-header {
  text-align: center;
  background-color: gray;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 5px solid turquoise;
  border-top: 5px solid turquoise;
 
}
.App-header p {
  font-size: 14px;
}

.table {
  margin-top: 50px; 
}
.table .table-striped>tr:nth-child(odd){
  background-color:red;
}
.form-group {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-top: 0;
}
#searchLabel {
  visibility: hidden;
}

tbody td {
  text-align: center;
}

.button {
  background-color: gray;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: turquoise;
}



